.wrapper{
  height: 100vh;
  display: flex;
}

.chat-side{
  width: 300px;
  background-color: #333333;
}

.side-header{
  height: 100px;
  background-color: #595959;
  display: flex;
  align-items: center;
}

.side-box{
  width: 260px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 20px;
}

.user-name{
  color: #eeeeee;
}

.menu{
  display: flex;
}

.new-group{
  margin-right: 5px;
}

a{
  text-decoration: none;
  color: #eeeeee;
}


.groups{
  height: calc(100% - 100px);
}

.chat-main{
  width: calc(100% - 300px);
  background-color: #1a1d21;
}

.main-header{
  height: 100px;
  background-color: #3f3f3f;
  border-bottom: 1px solid #595959;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.current-group{
  color: #eeeeee;
  font-size: 20px;
  margin-bottom: 15px;
}

.member-list{
  font-size: 12px;
  color: #eeeeee;
  display: flex;
}

.member{
  margin-left: 5px;
}

.edit-btn{
  color: #eeeeee;
  font-size: 16px;
  border: 1px solid #eeeeee;
  padding: 15px 20px;
}

.messages{
  background-color: #1a1d21;
  height: calc(100% - 190px);
}

.form{
  height: 90px;
  background-color: #595959;
  padding: 20px 40px;
}

.new-message{
  display: flex;
  align-items: center;
}

.input-text{
  width: 100%;
  height: 50px;
  color: #434a54;
  font-size: 16px;
  border-style: none;
  padding: 0 15px;
}

.submit-btn{
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #eeeeee;
  color: #1a1d21;
  font-size: 15px;
}